header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #021017;
    display: flex;
    color: #2bfdbe;
    align-items: center;
    justify-content: center;
    z-index: 99999999999;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
header h1{
    font-size: 20px;
    font-weight: 500;
}
header div{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divButtonHeader button{
    font-size: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    background: none;
    border: none;
    color: #2bfdbe;
    outline: none;
}
.divButtonHeader button:hover{
    transform: scale(1.1);
}
.loading {
    width: 30px;
    height: 30px;
    border: 4px solid #2bfdbe;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    display: block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width: 600px){
    header h1{
        font-size: 14px;
    }
}