.sectionLogin {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #73d7e8;
}
.wrapperLogin {
  position: relative;
  width: 40%;
  min-width: 750px;
  height: 450px;
  background: transparent;
  border: 1px solid #2bfdbe;
  z-index: 9999;
  margin: auto auto;
  overflow: hidden;
  box-shadow: 0 0 25px #2bfdbe3f;
}
.wrapperLogin .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapperLogin .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}
.form-box h2 {
  font-size: 32px;
  color: white;
  text-align: center;
}
.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0 10px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid white;
  padding-right: 23px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}
.input-box input:focus,
.input-box input:valid{
  border-bottom-color: #2bfdbe;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: #2bfdbe;
}
.iconLogin {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}
.input-box input:focus ~ .iconLogin,
.input-box input:valid ~ .iconLogin{
  color: #2bfdbe;
}

.info-text h2{
  font-size: 36px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}
.info-text p{
  font-size: 16px;
  color: #fff;
}
.wrapperLogin .bg-animate{
  position: absolute;
  top: -4;
  right: 0;
  width: 850px;
  border-bottom: 2px solid #2bfdbe;
  height: 600px;
  background: linear-gradient(45deg, #081b29, #2bfdbe);
  /* transform: rotate(0deg) skewY(0deg); */
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
}
.wrapperLogin .bg-animate2{
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  border-top: 2px solid #2bfdbe;
  background: linear-gradient(45deg, #081b29, #2bfdbe);
  transform: rotate(-11deg) skewY(-41deg);
  /* transform: rotate(0) skewY(0); */
  transform-origin: bottom left;
}
@media (max-width: 800px){
    .wrapperLogin{
      min-width: 200px;
      width: 100%;
      margin: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
@media (max-width: 630px){
    .wrapperLogin{
      min-width: 200px;
      width: 100%;
      margin: 0 20px;
    }
    .info-text{
      display: none !important;
    }
    .form-box{
      min-width: 100%;
      padding: 0;
      padding: 0 20px !important;
      justify-content: center;
    }
    .bg-animate, .bg-animate2{
      background: linear-gradient(45deg, #081b29, #2bfdbe37) !important;
    }
}
